@import "../../common/styles/global";

.primary{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}



/* For mobile screens   */
@media screen and (max-width: $media-query-mobile-width) {
  .primary{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}