@import "../../common/styles/variables";

.card{
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
  transition: 0.25s all ease-in-out;
}

.card:hover{
  transform: scale(1.015);
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.wrapper {
  justify-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2vh;
  justify-items: stretch;
}

/* For mobile screens   */
@media screen and (max-width: $media-query-mobile-width) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2vh;
  }
}
